@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NEW WORLD</h1>
    <p class="lead">New World to gra w fazie produkcji powstała tylko i wyłacznie do celów nauki. <br />
    Pierwszym krokiem, aby móc przetestować grę, jest rejestracja.<br />
    Jeżeli masz jakieś uwagi odnosnie gry, proszę o kontakt. :)</p>
</div>
